include partials/header
{{collection}}
.container-fluid
  form.form-inline
    label {{lib.name}}
    | &nbsp;@&nbsp;
    select.form-control(ng-model='lib.selected_version', ng-options='version for version in lib.versions')
  p {{lib.description}}

  table.table
    tbody
      tr(ng-repeat='file in lib.assets[lib.selected_version].files')
        td.code: code {{file_url()}}
        td
          button(di-clip, data-clipboard-text="{{file_url()}}", tooltip='{{tooltip}}', tooltip-placement='top').btn.btn-default.btn-sm: i.fa.fa-copy
        td
          button.btn.btn-sm.btn-default(ng-click='add_to_collection()'): i.fa.fa-plus
